body {
    background-color: rgb(24, 24, 24);
    text-align: center;
}

h1 {
    color: white;
    font-family: 'Titilium Web', sans-serif, 'Times New Roman';
    text-align: center;
}

.spice {
    color: grey;
    font-family: 'Titilium Web', sans-serif, 'Times New Roman';
    font-size: 18px;
    text-align: center;
}

.spice .link {
    color: white;
}

.spice img {
    height: auto;
    width: 500px;
}



