body {
    background-color: rgb(24, 24, 24);
    text-align: center;
}


h1,
.link {
    color: white;
    font-family: 'Titilium Web', sans-serif, 'Times New Roman';
}

img {
    height: auto;
    width: 650px;
}



